<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>bai04</servlet-name>
        <servlet-class>iuh.fit.tuan01.nguyenhuynhngochai_22687251_tuan01.Bai04</servlet-class>

        <init-param>
            <param-name>username</param-name>
            <param-value>ngochai147</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>12345678</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>bai04</servlet-name>
        <url-pattern>/bai-4</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>context-param</param-name>
        <param-value>nguyenhuynhngochai147@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>appName</param-name>
        <param-value>Application Name</param-value>
    </context-param>
</web-app>